.img {
  width: 70%;
}


.details1{
  font-style: italic;
  font-size: x-large;
  color: darkblue;
  font-weight:bold;

}
.details11{
  font-style: normal;
  font-size: medium;
  color: black;
  font-weight:300;
}


