<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group>
    <img *ngIf="isTypeForce()" mat-card-mat-image src="assets/images/type/force.png">
    <img *ngIf="isTypeCardio()" mat-card-mat-image src="assets/images/type/cardio.png">
    <img *ngIf="isTypePertedePoids()" mat-card-mat-image src="assets/images/type/pertedepoids.png">
    <mat-card-title>
      <a [routerLink]="['/seance', seance.id]">
      <span>{{ seance.nom | uppercase}}</span>
      </a>
    </mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    <p>Description : {{ seance.description }} </p>

    <mat-card-subtitle class="contact-info">
      <mat-icon >phone</mat-icon>
      <a href="tel:{{ seance.tel }}">{{ seance.tel }}</a>
    </mat-card-subtitle>
    <div class="buttons-info">
      <a mat-button title="Edit" [routerLink]="['/edit', seance.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-button title="Delete" (click)="delete(seance)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
