<h2 mat-dialog-title *ngIf="isUpdate">Update {{ model?.nom }}</h2>
<h2 mat-dialog-title *ngIf="!isUpdate">Create new seance</h2>

<mat-dialog-content>
  <form novalidate [formGroup]="form" >

    <p *ngIf="isUpdate">
      <span style="width:100%">ID (disabled)</span><br/>
      <span style="width:100%">{{model.id}}</span>
    </p>

    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="full-width" [class.mgb15]="form.get('nom').dirty && form.get('nom').invalid">
            <input matInput placeholder="nom" minlength="2" required formControlName="nom" name="nom" />
            <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('required')">
              <strong>Un nom est requis</strong>
            </mat-error>
            <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('minlength')">
              <strong>Le nom est trop court</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="full-width" [class.mgb15]="form.get('type').dirty && form.get('type').invalid">
            <mat-select placeholder="type" formControlName="type" required name="type" >
              <mat-option value="Cardio">Cardio</mat-option>
              <mat-option value="Force">Force</mat-option>
              <mat-option value="Perte de poids">Perte de poids</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('type').dirty && form.get('type').hasError('required')">
              <strong>Un type est requis</strong>
            </mat-error>
          </mat-form-field>
        </td>
      </tr>


<tr>
  <td>
    <mat-form-field class="full-width">
  <textarea matInput placeholder="Description" formControlName="description" name="description" ></textarea>
    </mat-form-field>

  </td>
</tr>
    </table>


    <p>
      <mat-form-field class="full-width">
        <input matInput placeholder="tel" formControlName="tel" name="tel" required />
        <mat-error *ngIf="form.get('tel').dirty && form.get('tel').hasError('required')">
          <strong>Un numéros est requis</strong>
        </mat-error>
        <mat-error *ngIf="form.get('tel').dirty && form.get('tel').hasError('pattern')">
          <strong>numéros non conforme</strong>
        </mat-error>
      </mat-form-field>
    </p>
  </form>
</mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
